# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

#For idea settings
.idea/
#For gradle build
build/

#Java config files
*.iml
*.class
*.jar
*.war
*.ear

#Log files
*.log